/* .customized {
    width: 100%;
    max-width: 150px; 
    height: 150px;    
    object-fit: cover; 
    margin: auto;
    display: block;
  } */

  /* .carousel-inner img {
    height: 400px;  
    object-fit: cover;
  } */